.ContentBox {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  width: 96vw;
}

.ContentBox_description {
  position: relative;
  left: 0.5vw;
  bottom: 13vw;
  /* font-weight: lighter; */
  font-size: 1.5vw;
  background: white;
  border-radius: 5px;
  color: black;
  text-align: left;
  padding: 0.5em 2em 1em 1.5em;
  line-height: 2.5vw;
  width: 47vw;
}

.ContentBox_description h2 {
  font-weight: bold;
  font-size: 2vw;
}

.ContentBoxList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}

/* 현재 위치를 기준으로 특정 위치만큼 움직여야함 */

.ContentBoxListSlider {
}

.CustomViewPort {
  background: #282c34;
  height: 200px;
  position: absolute;
  border: dotted 1px red;
  /*position: fixed;*/
  z-index: 1;
}

.SliderButton {
  position: absolute;
  background-color: grey;
  border-radius: 3vw;
  font-size: 3vw;
  opacity: 40%;
  top: 26.5vw;
}
